extends ../../layout  

block content 
  .d-flex.justify-content-center
    div(style='margin-top: 160px; width: 60%;')
      .d-flex.justify-content-between
        div
          img(src='images/mob9.jpg' alt='...' style='width: 286px; height: 290px;')
        div(style='width: 40%;')
          h2 Apple Iphone 13
          h4(style='color: rgb(226, 189, 21);') Rs.205,999
          hr(style='color: black; padding: 1px;')
          h4 Product Description:
          p(style='font-size: small') Brand: Apple
          p(style='font-size: small') Model Name: Iphone 13
          p(style='font-size: small') Screen Size: 6.1 Inches
          p(style='font-size: small') Operating System: ios
          p(style='font-size: small') Storage Capacity: 256gb
          hr
          p(style='font-size:larger;') About This Item:
          ul
            li(style='font-size: small')
              | 6.1-inch Super Retina XDR display with ProMotion for a faster, more responsive feel
            li(style='font-size: small')
              | Cinematic mode adds shallow depth of field and shifts focus automatically in your videos
            li(style='font-size: small')
              | Pro camera system with new 12MP Telephoto, Wide, and Ultra Wide cameras; LiDAR Scanner; 6x optical zoom range; macro photography; Photographic Styles, ProRes video, Smart HDR 4, Night mode, Apple ProRAW, 4K Dolby Vision HDR recording
            li(style='font-size: small') 12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording
            li(style='font-size: small') A15 Bionic chip for lightning-fast performance
            li(style='font-size: small') Durable design with Ceramic Shield
            li(style='font-size: small') Industry-leading IP68 water resistance
            li(style='font-size: small') 5G capable
        .border.border-dark.d-flex.justify-content-center(style='padding:0px 16px; border-radius:7px;')
          div
            h4(style='margin-top: 20px; color: rgb(226, 189, 21);') Rs.205,999
            p(style='font-size: small; margin-top: 20px; color: rgb(97, 97, 97);') Rs.200 Shipping Charges For Home Delivery
            p(style='font-size: small; color: rgb(97, 97, 97);') Cash On Delivery Available
            p(style='color: rgb(0, 156, 21); font-size: larger; margin-top: 30px;') In Stock
            label(style='color: rgb(97, 97, 97);') Qty 
              select(style='border-radius: 5px;')
                option 1
                option 2
                option 3
                option 4
                option 5
            br
            button(style='margin-top: 30px; background-color: rgb(247, 202, 6); border-radius: 19px; border-style: none; padding: 3px 86px;') Add to Cart
            br
            button(style='background-color: rgb(247, 163, 6); border-radius: 19px; border-style: none; padding: 3px 96px; margin-top: 10px;') Buy Now
            br
            hr(style='color:black; padding: 1px;')
            button(style='margin-bottom: 30px; background-color: rgb(187, 184, 184); border-radius: 19px; border-style: none; padding: 3px 89px; display: block;') Add to List
            p(style='font-size: small; margin-bottom: 40px;') Expected Deliver Time: Dec 09 - Dec 15
            p Return Policy:
            p(style='color: rgb(97, 97, 97);') 7 Days easy return policy
            p(style='color: rgb(97, 97, 97);') 1 Year Brand Warranty
            p(style='font-size: small; margin-top: 40px;') Ships from: Shopping.com
            p(style='font-size: small;') Sold by: Apple.com
  div(style='padding: 0px 50px; margin-top: 180px;')
    hr(style='color:black; padding: 1px;')
  .d-flex.justify-content-center
    div(style='margin-top: 40px; width: 60%;')
      div
        h4 People Who Viewed This Item Also Viewed
  .d-flex.justify-content-center
    div
      .card(style='width: 18rem;')
        a(href='/mob5' style='text-decoration: none;')
          img.card-img-top(src='images/mob7.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Samsung S20 Ultra
            p.card-text(style='color: rgb(226, 189, 21);') Rs.213,999
    div(style='margin-left: 2px;')
      a(href='/mob6' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href='/mob6' style='text-decoration: none;')
          img.card-img-top(src='images/mob8.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Samsung Note 20 Ultra
            p.card-text(style='color: rgb(226, 189, 21);') Rs.219.999
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href='/mob7' style='text-decoration: none;')
          img.card-img-top(src='images/mob9.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Apple Iphone 13
            p.card-text(style='color: rgb(226, 189, 21);') Rs.205,999
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href='/mob8' style='text-decoration: none;')
          img.card-img-top(src='images/mob10.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Xioami Mi 10
            p.card-text(style='color: rgb(226, 189, 21);') Rs.148,999
