extends layout 

block content 
  .bg-dark
    div(style='padding-top: 130px; padding-bottom: 130px; ')
      p.text-white(style='font-size: 26px; text-align: center;') KNOW MORE
      h1.text-white(style='font-size: 100px; text-align: center;') About Us
  .d-flex.justify-content-around
    div(style='margin-top: 100px; width: 60%;')
      .col-4
        h3 Our Mission
        p
          | As a E-Commerce Shop, Our mission is to make it easy to do shopping anywhere.We do this by providing suppliers and removing the middle man, and by helping buyers find products and suppliers quickly and efficiently.
      .offset-8
        h3 Anytime, Anywhere
        p
          | As a  shopping webiste platform, we continue to develop services to help consumer to discover new produntcs. Whether it’s your mobile phone or any accessories or gadgets, turn to Shopping.com for your needs.
      .col-4
        h3 In Your Region
        p
          | No matter in which country you are, or what is your language you can change the language to preffered understanding language , and you can also pay in your currency with our provided global payment channels
      .offset-8
        h3 Integrity Compliance
        p
          | We mandate that our employees conduct all business with outside parties in a manner that reflects our value of integrity. We will not tolerate any form of unethical or unlawful conduct. Our stakeholders’ concerns are important to us and anyone is welcome to contact our Integrity Compliance Office.
