extends layout 

block content 
  .d-flex.justify-content-center
    div(style='margin-top: 160px; width:60%')
      div(style='text-align: center; margin-bottom: 50px;')
        h2 Smartphones
      div
      .d-flex.justify-content-center
        div
          .card(style='width: 18rem;')
            a(href=' /mob1 ' style='text-decoration: none;')
              img.card-img-top(src='images/mob4.jpg' style='height: 290px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black Apple Iphone 13 Pro
                p.card-text(style='color: rgb(226, 189, 21);') Rs.250,999
        div(style='margin-left: 2px;')
          a(href=' /mob2 ' style='text-decoration: none;')
          .card(style='width: 18rem;')
            a(href=' /mob2 ' style='text-decoration: none;')
              img.card-img-top(src='images/mob3.jpg' style='height: 290px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black Samsung S21 Ultra
                p.card-text(style='color: rgb(226, 189, 21);') Rs.234.499
        div(style='margin-left: 2px;')
          .card(style='width: 18rem;')
            a(href=' /mob3 ' style='text-decoration: none;')
              img.card-img-top(src='images/mob5.jpg' style='height: 290px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black Xiaomi Mi 11
                p.card-text(style='color: rgb(226, 189, 21);') Rs.144,999
        div(style='margin-left: 2px;')
          .card(style='width: 18rem;')
            a(href=' /mob4 ' style='text-decoration: none;')
              img.card-img-top(src='images/mob6.jpg' style='height: 290px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black Oneplus 9 Pro
                p.card-text(style='color: rgb(226, 189, 21);') Rs.164,999
  div(style='padding: 60px 190px')
    hr(style='color: rgb(170, 170, 182); padding: 1.5px;')
  .d-flex.justify-content-center
    div
      .card(style='width: 18rem;')
        a(href=' /mob5 ' style='text-decoration: none;')
          img.card-img-top(src='images/mob7.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Samsung S20 Ultra
            p.card-text(style='color: rgb(226, 189, 21);') Rs.213,999
    div(style='margin-left: 2px;')
      a(href=' /mob6 ' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href=' /mob6 ' style='text-decoration: none;')
          img.card-img-top(src='images/mob8.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Samsung Note 20 Ultra
            p.card-text(style='color: rgb(226, 189, 21);') Rs.219.999
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /mob7 ' style='text-decoration: none;')
          img.card-img-top(src='images/mob9.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Apple Iphone 13
            p.card-text(style='color: rgb(226, 189, 21);') Rs.205,999
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /mob8 ' style='text-decoration: none;')
          img.card-img-top(src='images/mob10.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Xioami Mi 10
            p.card-text(style='color: rgb(226, 189, 21);') Rs.148,999
  div(style='padding: 60px 190px')
    hr(style='color: rgb(170, 170, 182); padding: 1.5px;')
  .d-flex.justify-content-center
    div
      .card(style='width: 18rem;')
        a(href=' /mob9 ' style='text-decoration: none;')
          img.card-img-top(src='images/mob11.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Xioami Redmi Note 10 pro
            p.card-text(style='color: rgb(226, 189, 21);') Rs.49,299
    div(style='margin-left: 2px;')
      a(href=' /mob10 ' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href=' /mob10 ' style='text-decoration: none;')
          img.card-img-top(src='images/mob12.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Xiaomi Poco F3
            p.card-text(style='color: rgb(226, 189, 21);') Rs.73.499
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /mob11 ' style='text-decoration: none;')
          img.card-img-top(src='images/mob13.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Oneplus 7 Pro
            p.card-text(style='color: rgb(226, 189, 21);') Rs.83,999
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /mob12 ' style='text-decoration: none;')
          img.card-img-top(src='images/mob14.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Oneplus 8 Pro
            p.card-text(style='color: rgb(226, 189, 21);') Rs.132,799
  div(style='padding: 60px 190px')
    hr(style='color: rgb(170, 170, 182); padding: 1.5px;')
  .d-flex.justify-content-center(style='margin-bottom: 160px;')
    div
      .card(style='width: 18rem;')
        a(href=' /mob13 ' style='text-decoration: none;')
          img.card-img-top(src='images/mob15.jfif' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Vivo V21
            p.card-text(style='color: rgb(226, 189, 21);') Rs.59,999
    div(style='margin-left: 2px;')
      a(href=' /mob14 ' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href=' /mob14 ' style='text-decoration: none;')
          img.card-img-top(src='images/mob16.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Vivo Y33s
            p.card-text(style='color: rgb(226, 189, 21);') Rs.37,999
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /mob15 ' style='text-decoration: none;')
          img.card-img-top(src='images/mob17.png' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Vivo X70 Pro
            p.card-text(style='color: rgb(226, 189, 21);') Rs.139,999
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /mob16 ' style='text-decoration: none;')
          img.card-img-top(src='images/mob18.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Oneplus 9 Pro
            p.card-text(style='color: rgb(226, 189, 21);') Rs.47,999
  .d-flex.justify-content-center
    div(style='margin-top: 160px; width:60%')
      div(style='text-align: center; margin-bottom: 50px;')
        h2 Power Banks
      div
      .d-flex.justify-content-center
        div
          .card(style='width: 18rem;')
          a(href=' /bank1 ' style='text-decoration: none;')
            img.card-img-top(src='images/bank.jpg' style='height: 290px; width: 286px;' alt='...')
            .card-body
              h5.card-title.text-black Anker PowerCore Slim 10000mAh
              p.card-text(style='color: rgb(226, 189, 21);') Rs.5,500
        div(style='margin-left: 2px;')
          a(href=' /bank2 ' style='text-decoration: none;')
          .card(style='width: 18rem;')
            a(href=' /bank2 ' style='text-decoration: none;')
              img.card-img-top(src='images/bank2.jpeg' style='height: 290px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black Anker PowerCore 20000mAh PD
                p.card-text(style='color: rgb(226, 189, 21);') Rs.8,000
        div(style='margin-left: 2px;')
          .card(style='width: 18rem;')
            a(href=' /bank3 ' style='text-decoration: none;')
              img.card-img-top(src='images/bank3.jpg' style='height: 290px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black Aukey 20W 10000mAH PD Wireless Charging
                p.card-text(style='color: rgb(226, 189, 21);') Rs.6,100
        div(style='margin-left: 2px;')
          .card(style='width: 18rem;')
            a(href=' /bank4 ' style='text-decoration: none;')
              img.card-img-top(src='images/bank4.jpg' style='height: 314px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black RAVPower Turbo 10050mAh
                p.card-text(style='color: rgb(226, 189, 21);') Rs.3,999
  div(style='padding: 60px 190px')
    hr(style='color: rgb(170, 170, 182); padding: 1.5px;')
  .d-flex.justify-content-center
    div
      .card(style='width: 18rem;')
        a(href=' /bank5 ' style='text-decoration: none;')
          img.card-img-top(src='images/bank5.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Samsung 10000mAh Fast Charging
            p.card-text(style='color: rgb(226, 189, 21);') Rs.5,999
    div(style='margin-left: 2px;')
      a(href=' /bank6 ' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href=' /bank6 ' style='text-decoration: none;')
          img.card-img-top(src='images/bank6.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black RAVPower 12000mAh Quick Charge
            p.card-text(style='color: rgb(226, 189, 21);') Rs.3,490
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /bank7 ' style='text-decoration: none;')
          img.card-img-top(src='images/bank7.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black AUKEY USB C Power Bank 10000mAh
            p.card-text(style='color: rgb(226, 189, 21);') Rs.3,800
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /bank8 ' style='text-decoration: none;')
          img.card-img-top(src='images/bank8.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Anker PowerCore 10000mAh 12W
            p.card-text(style='color: rgb(226, 189, 21);') Rs.3,200
  div(style='padding: 60px 190px')
    hr(style='color: rgb(170, 170, 182); padding: 1.5px;')
  .d-flex.justify-content-center
    div
      .card(style='width: 18rem;')
        a(href=' /bank9 ' style='text-decoration: none;')
          img.card-img-top(src='images/bank9.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Baseus PD+QC 10000mAh 18W
            p.card-text(style='color: rgb(226, 189, 21);') Rs.4,999
    div(style='margin-left: 2px;')
      a(href=' /bank10 ' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href=' /bank10 ' style='text-decoration: none;')
          img.card-img-top(src='images/bank10.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Baseus Digital Display 20000mAh 65W
            p.card-text(style='color: rgb(226, 189, 21);') Rs.10,999
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /bank11 ' style='text-decoration: none;')
          img.card-img-top(src='images/bank11.jpg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Realme Power Bank 2
            p.card-text(style='color: rgb(226, 189, 21);') Rs.3,499
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /bank12 ' style='text-decoration: none;')
          img.card-img-top(src='images/bank12.jpg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Mi Wireless 10000mAh
            p.card-text(style='color: rgb(226, 189, 21);') Rs3,900
  div(style='padding: 60px 190px')
    hr(style='color: rgb(170, 170, 182); padding: 1.5px;')
  .d-flex.justify-content-center(style='margin-bottom: 160px;')
    div
      .card(style='width: 18rem;')
        a(href=' /bank13 ' style='text-decoration: none;')
          img.card-img-top(src='images/bank13.png' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Mi Redmi Power Bank 10000mAh
            p.card-text(style='color: rgb(226, 189, 21);') Rs.2,250
    div(style='margin-left: 2px;')
      a(href=' /bank14 ' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href=' /bank14 ' style='text-decoration: none;')
          img.card-img-top(src='images/bank14.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Space PD + QC 3.0 22.5W 10000mAh
            p.card-text(style='color: rgb(226, 189, 21);') Rs.4,499
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /bank15 ' style='text-decoration: none;')
          img.card-img-top(src='images/bank15.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Space PD + QC 3.0 20000mAh
            p.card-text(style='color: rgb(226, 189, 21);') Rs.6,475
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /bank16 ' style='text-decoration: none;')
          img.card-img-top(src='images/bank16.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Space Wireless Series 10000mAh
            p.card-text(style='color: rgb(226, 189, 21);') Rs.4,125
  .d-flex.justify-content-center
    div(style='margin-top: 160px; width:60%')
      div(style='text-align: center; margin-bottom: 50px;')
        h2 Chargers
      div
      .d-flex.justify-content-center
        div
          .card(style='width: 18rem;')
            a(href='/chr1' style='text-decoration: none;')
              img.card-img-top(src='images/chr1.jpg' style='height: 314px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black AUKEY Omnia 65W USB C
                p.card-text(style='color: rgb(226, 189, 21);') Rs.6,300
        div(style='margin-left: 2px;')
          a(href='/chr2' style='text-decoration: none;')
          .card(style='width: 18rem;')
            a(href='/chr2' style='text-decoration: none;')
              img.card-img-top(src='images/ch4.jpg' style='height: 314px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black Anker PowerPort 2 Lite
                p.card-text(style='color: rgb(226, 189, 21);') Rs.1,700
        div(style='margin-left: 2px;')
          .card(style='width: 18rem;')
            a(href='/chr3 ' style='text-decoration: none;')
              img.card-img-top(src='images/ch2.jpg' style='height: 290px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black Aukey Minima 20W PD Charger
                p.card-text(style='color: rgb(226, 189, 21);') Rs.2,490
        div(style='margin-left: 2px;')
          .card(style='width: 18rem;')
            a(href='/chr4 ' style='text-decoration: none;')
              img.card-img-top(src='images/ch3.jpg' style='height: 290px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black Aukey Minima 20W PD 3.0 Charger
                p.card-text(style='color: rgb(226, 189, 21);') Rs.5,800
  div(style='padding: 60px 190px')
    hr(style='color: rgb(170, 170, 182); padding: 1.5px;')
  .d-flex.justify-content-center
    div
      .card(style='width: 18rem;')
        a(href='/chr5 ' style='text-decoration: none;')
          img.card-img-top(src='images/ch5.png' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Mi Type C 20W
            p.card-text(style='color: rgb(226, 189, 21);') Rs.2,000
    div(style='margin-left: 2px;')
      a(href='/chr6 ' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href='/chr6 ' style='text-decoration: none;')
          img.card-img-top(src='images/ch6.png' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black MI 33W (TYPE-A + TYPE-C)
            p.card-text(style='color: rgb(226, 189, 21);') Rs.2,099
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href='/chr7 ' style='text-decoration: none;')
          img.card-img-top(src='images/ch7.png' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Mi 20W Wireless Charging Stand
            p.card-text(style='color: rgb(226, 189, 21);') Rs.3,499
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href='/chr8 ' style='text-decoration: none;')
          img.card-img-top(src='images/ch8.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black RAVPower 90W PD 3.0 Dual Port
            p.card-text(style='color: rgb(226, 189, 21);') Rs.9,490
  div(style='padding: 60px 190px')
    hr(style='color: rgb(170, 170, 182); padding: 1.5px;')
  .d-flex.justify-content-center
    div
      .card(style='width: 18rem;')
        a(href='/chr9 ' style='text-decoration: none;')
          img.card-img-top(src='images/ch9.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black RAVPower 65W 4 Port Charging Station
            p.card-text(style='color: rgb(226, 189, 21);') Rs.7,990
    div(style='margin-left: 2px;')
      a(href='/chr10 ' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href='/chr10 ' style='text-decoration: none;')
          img.card-img-top(src='images//ch10.jpg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Apple 5W Adapter
            p.card-text(style='color: rgb(226, 189, 21);') Rs.4,490
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href='/chr11 ' style='text-decoration: none;')
          img.card-img-top(src='images/ch11.jpeg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Apple 20W Adapter
            p.card-text(style='color: rgb(226, 189, 21);') Rs.3,499
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href='/chr12 ' style='text-decoration: none;')
          img.card-img-top(src='images/ch12.jpg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Apple 85W MagSafe 2
            p.card-text(style='color: rgb(226, 189, 21);') Rs.16,490
  div(style='padding: 60px 190px')
    hr(style='color: rgb(170, 170, 182); padding: 1.5px;')
  .d-flex.justify-content-center(style='margin-bottom: 160px;')
    div
      .card(style='width: 18rem;')
        a(href='/chr13 ' style='text-decoration: none;')
          img.card-img-top(src='images/ch13.jpg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Apple 61W USB-C PD 3.0
            p.card-text(style='color: rgb(226, 189, 21);') Rs.14,990
    div(style='margin-left: 2px;')
      a(href='/chr14 ' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href='/chr14 ' style='text-decoration: none;')
          img.card-img-top(src='images/ch14.jpg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Aukey Swift 25W PD
            p.card-text(style='color: rgb(226, 189, 21);') Rs.2,700
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href='/chr15 ' style='text-decoration: none;')
          img.card-img-top(src='images/ch15.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Aukey 30W PD Port with International Compatibility
            p.card-text(style='color: rgb(226, 189, 21);') Rs.5,250
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href='/chr16 ' style='text-decoration: none;')
          img.card-img-top(src='images/ch16.jpg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Samsung 25W Adapter
            p.card-text(style='color: rgb(226, 189, 21);') Rs.3,990
  .d-flex.justify-content-center
    div(style='margin-top: 160px; width:60%')
      div(style='text-align: center; margin-bottom: 50px;')
        h2 Ear-Phones
      div
      .d-flex.justify-content-center
        div
          .card(style='width: 18rem;')
            a(href=' /er1 ' style='text-decoration: none;')
              img.card-img-top(src='images/er1.jpg' style='height: 290px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black Sony WF-1000XM3
                p.card-text(style='color: rgb(226, 189, 21);') Rs.29,999
        div(style='margin-left: 2px;')
          a(href=' /er2 ' style='text-decoration: none;')
          .card(style='width: 18rem;')
            a(href=' /er2 ' style='text-decoration: none;')
              img.card-img-top(src='images/er2.jpg' style='height: 290px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black Apple Airpods Pro
                p.card-text(style='color: rgb(226, 189, 21);') Rs.42,999
        div(style='margin-left: 2px;')
          .card(style='width: 18rem;')
            a(href=' /er3 ' style='text-decoration: none;')
              img.card-img-top(src='images/er3.jpg' style='height: 290px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black Samsung Galaxy Buds Pro
                p.card-text(style='color: rgb(226, 189, 21);') Rs.23,999
        div(style='margin-left: 2px;')
          .card(style='width: 18rem;')
            a(href=' /er4 ' style='text-decoration: none;')
              img.card-img-top(src='images/er4.jpg' style='height: 290px; width: 286px;' alt='...')
              .card-body
                h5.card-title.text-black JBL PowerBeats
                p.card-text(style='color: rgb(226, 189, 21);') Rs.34,999
  div(style='padding: 60px 190px')
    hr(style='color: rgb(170, 170, 182); padding: 1.5px;')
  .d-flex.justify-content-center
    div
      .card(style='width: 18rem;')
        a(href=' /er5 ' style='text-decoration: none;')
          img.card-img-top(src='images/er5.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Mpow MBits S True Wireless
            p.card-text(style='color: rgb(226, 189, 21);') Rs.5,990
    div(style='margin-left: 2px;')
      a(href=' /er6 ' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href=' /er6 ' style='text-decoration: none;')
          img.card-img-top(src='images/er6.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black MPOW X3 V2.0 ANC Bluetooth
            p.card-text(style='color: rgb(226, 189, 21);') Rs.10,990
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /er7 ' style='text-decoration: none;')
          img.card-img-top(src='images/er7.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Mpow M13 Wireless Earbuds
            p.card-text(style='color: rgb(226, 189, 21);') Rs.4,990
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /er8 ' style='text-decoration: none;')
          img.card-img-top(src='images/er8.jpg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Tronsmart Apollo Air Plus 
            p.card-text(style='color: rgb(226, 189, 21);') Rs.14,990
  div(style='padding: 60px 190px')
    hr(style='color: rgb(170, 170, 182); padding: 1.5px;')
  .d-flex.justify-content-center
    div
      .card(style='width: 18rem;')
        a(href=' /er9 ' style='text-decoration: none;')
          img.card-img-top(src='images/er9.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Tronsmart Onyx Apex True Wireless
            p.card-text(style='color: rgb(226, 189, 21);') Rs.8,990
    div(style='margin-left: 2px;')
      a(href=' /er10 ' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href=' /er10 ' style='text-decoration: none;')
          img.card-img-top(src='images/er10.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black MPOW X6 ANC True Wireless
            p.card-text(style='color: rgb(226, 189, 21);') Rs.10,990
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /er11 ' style='text-decoration: none;')
          img.card-img-top(src='images/er11.jpg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black SoundBEATS Truengine 3
            p.card-text(style='color: rgb(226, 189, 21);') Rs.8,000
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /er12 ' style='text-decoration: none;')
          img.card-img-top(src='images/er12.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Beats Studio Buds True Wireless
            p.card-text(style='color: rgb(226, 189, 21);') Rs.29,990
  div(style='padding: 60px 190px')
    hr(style='color: rgb(170, 170, 182); padding: 1.5px;')
  .d-flex.justify-content-center(style='margin-bottom: 160px;')
    div
      .card(style='width: 18rem;')
        a(href=' /er13 ' style='text-decoration: none;')
          img.card-img-top(src='images/er13.jpg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black OnePlus Buds Pro
            p.card-text(style='color: rgb(226, 189, 21);') Rs.28,990
    div(style='margin-left: 2px;')
      a(href=' /er14 ' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href=' /er14 ' style='text-decoration: none;')
          img.card-img-top(src='images/er14.jpg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black OnePlus Buds Z
            p.card-text(style='color: rgb(226, 189, 21);') Rs.9,990
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /er15 ' style='text-decoration: none;')
          img.card-img-top(src='images/er15.jpg' style='height: 314px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Mpow Flame S
            p.card-text(style='color: rgb(226, 189, 21);') Rs.5,990
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href=' /er16 ' style='text-decoration: none;')
          img.card-img-top(src='images/er16.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Aukey Magnetic Wireless Earbuds
            p.card-text(style='color: rgb(226, 189, 21);') Rs.4,900
