extends ../../layout  

block content 
  .d-flex.justify-content-center
    div(style='margin-top: 160px; width: 60%;')
      .d-flex.justify-content-between
        div
          img(src=' images/bank6.jpg' alt='...' style='width: 286px; height: 290px;')
        div(style='width: 40%;')
          h2 RAVPower 12000mAh Quick Charge
          h4(style='color: rgb(226, 189, 21);') Rs.3,490
          hr(style='color: black; padding: 1px;')
          h4 Product Description:
          p(style='font-size: small') Brand: RAVPower
          p(style='font-size: small') Color: Black
          p(style='font-size: small') Connector Type: Usb
          p(style='font-size: small') Battery Capacity: 1000 Milliamp Hours
          p(style='font-size: small') Dimensions: 5.87 x 2.68 x 0.55 inches
          p(style='font-size: small') Warranty: 1 Year Limited
          hr
          p(style='font-size:larger;') About This Item:
          ul
            li(style='font-size: small')
              | Quality Throughout:Built adventure-tier touch with superior durability and scratch resistance, PowerCore Slim 10000 is premium both inside and out.
            li(style='font-size: small')
              | Slim Size, Big Power:One of the slimmest and lightest 10,000mAh portable chargers on the market. Provides 2.25 charges for iPhone 12, 1.6 charges for Galaxy S20 and 1.2 charges for iPad mini 5.
            li(style='font-size: small')
              | Versatile Charging: Anker's exclusive PowerIQ and VoltageBoost technology combine to detect and deliver a tailored charge up to 12W, while the trickle-charging mode is the best way to charge low-power devices.
            li(style='font-size: small')
              | Superior Safety:Anker’s comprehensive MultiProtect safety system includes overcharge protection, short circuit protection, temperature control, and more.
            li(style='font-size: small')
              | What You Get: PowerCore Slim 10000 portable charger, Micro USB cable (USB-C cable and Lightning cable not included), travel pouch, welcome guide, lifetime* $25,000 connected equipment warranty, and friendly customer service. *For the purpose of this connected equipment warranty, "lifetime" is defined as the lifetime of the product.
        .border.border-dark.d-flex.justify-content-center(style='padding:0px 16px; border-radius:7px;')
          div
            h4(style='margin-top: 20px; color: rgb(226, 189, 21);') Rs.3,490
            p(style='font-size: small; margin-top: 20px; color: rgb(97, 97, 97);') Rs.200 Shipping Charges For Home Delivery
            p(style='font-size: small; color: rgb(97, 97, 97);') Cash On Delivery Available
            p(style='color: rgb(0, 156, 21); font-size: larger; margin-top: 30px;') In Stock
            label(style='color: rgb(97, 97, 97);') Qty 
              select(style='border-radius: 5px;')
                option 1
                option 2
                option 3
                option 4
                option 5
            br
            button(style='margin-top: 30px; background-color: rgb(247, 202, 6); border-radius: 19px; border-style: none; padding: 3px 86px;') Add to Cart
            br
            button(style='background-color: rgb(247, 163, 6); border-radius: 19px; border-style: none; padding: 3px 96px; margin-top: 10px;') Buy Now
            br
            hr(style='color:black; padding: 1px;')
            button(style='margin-bottom: 30px; background-color: rgb(187, 184, 184); border-radius: 19px; border-style: none; padding: 3px 89px; display: block;') Add to List
            p(style='font-size: small; margin-bottom: 40px;') Expected Deliver Time: Dec 09 - Dec 15
            p Return Policy:
            p(style='color: rgb(97, 97, 97);') 7 Days easy return policy
            p(style='color: rgb(97, 97, 97);') 1 Year Brand Warranty
            p(style='font-size: small; margin-top: 40px;') Ships from: Shopping.com
            p(style='font-size: small;') Sold by: RAVPower.com
  div(style='padding: 0px 50px; margin-top: 180px;')
    hr(style='color:black; padding: 1px;')
  .d-flex.justify-content-center
    div(style='margin-top: 40px; width: 60%;')
      div
        h4 People Who Viewed This Item Also Viewed
  .d-flex.justify-content-center
    div
      .card(style='width: 18rem;')
        a(href='/bank1' style='text-decoration: none;')
          img.card-img-top(src=' images/bank.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Anker PowerCore Slim 10000mAh
            p.card-text(style='color: rgb(226, 189, 21);') Rs.5,500
    div(style='margin-left: 2px;')
      a(href='/bank2' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href='/bank2' style='text-decoration: none;')
          img.card-img-top(src=' images/bank2.jpeg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Anker PowerCore 20000mAh PD
            p.card-text(style='color: rgb(226, 189, 21);') Rs.8,000
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href='/bank3' style='text-decoration: none;')
          img.card-img-top(src=' images/bank3.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Aukey 20W 10000mAH PD Wireless Charging
            p.card-text(style='color: rgb(226, 189, 21);') Rs.6,100
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href='/bank4' style='text-decoration: none;')
          img.card-img-top(src=' images/bank4.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black RAVPower Turbo 10050mAh
            p.card-text(style='color: rgb(226, 189, 21);') Rs.3,999
