extends ../../layout  

block content 
  .d-flex.justify-content-center
    div(style='margin-top: 160px; width: 60%;')
      .d-flex.justify-content-between
        div
          img(src=' images/er10.jpg' alt='...' style='width: 286px; height: 290px;')
        div(style='width: 40%;')
          h2 MPOW X6 ANC True Wireless
          h4(style='color: rgb(226, 189, 21);') Rs.10,990
          hr(style='color: black; padding: 1px;')
          h4 Product Description:
          p(style='font-size: small') Brand: Mpow
          p(style='font-size: small') Model Name: X6
          p(style='font-size: small') Color: Bluish
          p(style='font-size: small') Connectivity Technology: Wireless
          p(style='font-size: small') Ear Placement: In-Ear
          hr
          p(style='font-size:larger;') About This Item:
          ul
            li(style='font-size: small')
              | Digital noise canceling: Industry leading anc lends a personalized, virtually soundproof experience. Phone call: A built-in mic enables you to take hands-free calls
            li(style='font-size: small') 4bit Audio signal processing delivers dramatically improved sound quality
            li(style='font-size: small')
              | Battery life up to 24 hours with carrying case (with 10min quick charge for 90min of play time)
            li(style='font-size: small')
              | Easy and clear hands free calling; Leave your phone where it is, just speak with a double tap to the earbud
            li(style='font-size: small') Truly wireless design with uninterrupted L/R simultaneous Bluetooth transmission
            li(style='font-size: small')
              | Alexa enabled for voice access to music, information, and more. Activate with a simple touch
            li(style='font-size: small')
              | Smart listening by adaptive sound control automatically switches to ambient sound mode based on your activity
            li(style='font-size: small') Quick attention mode and wearing detection make conversations effortless
        .border.border-dark.d-flex.justify-content-center(style='padding:0px 16px; border-radius:7px;')
          div
            h4(style='margin-top: 20px; color: rgb(226, 189, 21);') Rs.10,990
            p(style='font-size: small; margin-top: 20px; color: rgb(97, 97, 97);') Rs.200 Shipping Charges For Home Delivery
            p(style='font-size: small; color: rgb(97, 97, 97);') Cash On Delivery Available
            p(style='color: rgb(0, 156, 21); font-size: larger; margin-top: 30px;') In Stock
            label(style='color: rgb(97, 97, 97);') Qty 
              select(style='border-radius: 5px;')
                option 1
                option 2
                option 3
                option 4
                option 5
            br
            button(style='margin-top: 30px; background-color: rgb(247, 202, 6); border-radius: 19px; border-style: none; padding: 3px 86px;') Add to Cart
            br
            button(style='background-color: rgb(247, 163, 6); border-radius: 19px; border-style: none; padding: 3px 96px; margin-top: 10px;') Buy Now
            br
            hr(style='color:black; padding: 1px;')
            button(style='margin-bottom: 30px; background-color: rgb(187, 184, 184); border-radius: 19px; border-style: none; padding: 3px 89px; display: block;') Add to List
            p(style='font-size: small; margin-bottom: 40px;') Expected Deliver Time: Dec 09 - Dec 15
            p Return Policy:
            p(style='color: rgb(97, 97, 97);') 7 Days easy return policy
            p(style='color: rgb(97, 97, 97);') 1 Year Brand Warranty
            p(style='font-size: small; margin-top: 40px;') Ships from: Shopping.com
            p(style='font-size: small;') Sold by: Mpow.com
  div(style='padding: 0px 50px; margin-top: 180px;')
    hr(style='color:black; padding: 1px;')
  .d-flex.justify-content-center
    div(style='margin-top: 40px; width: 60%;')
      div
        h4 People Who Viewed This Item Also Viewed
  .d-flex.justify-content-center
    div
      .card(style='width: 18rem;')
        a(href='/er1' style='text-decoration: none;')
          img.card-img-top(src=' images/er1.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Sony WF-1000XM3
            p.card-text(style='color: rgb(226, 189, 21);') Rs.29,999
    div(style='margin-left: 2px;')
      a(href='/er2' style='text-decoration: none;')
      .card(style='width: 18rem;')
        a(href='/er2' style='text-decoration: none;')
          img.card-img-top(src=' images/er2.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Apple Airpods Pro
            p.card-text(style='color: rgb(226, 189, 21);') Rs.42,999
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href='/er3' style='text-decoration: none;')
          img.card-img-top(src=' images/er3.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black Samsung Galaxy Buds Pro
            p.card-text(style='color: rgb(226, 189, 21);') Rs.23,999
    div(style='margin-left: 2px;')
      .card(style='width: 18rem;')
        a(href='/er4' style='text-decoration: none;')
          img.card-img-top(src=' images/er4.jpg' style='height: 290px; width: 286px;' alt='...')
          .card-body
            h5.card-title.text-black JBL PowerBeats
            p.card-text(style='color: rgb(226, 189, 21);') Rs.34,999
